<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title> Order Items </title>
	</head>
	<body ng-controller="OrderItemsController">
		<h1> Order Items for Order: <%= order.name %></h1>
		<ul>
			<% order.items.forEach(function(item, index) { %>
				<li> <%= item %> </li>
			<% }); %>
		</ul>
	</body>

</html>