<!DOCTYPE html>

<html ng-app="orderItemsApp">
	<head>
		<meta charset="utf-8">
		<title> Order Menus and Items </title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script>
			angular.module('orderItemsApp', [])
			.controller('OrderItemsController', function() {
				this.menus = {};
				var menuKey = '';
				<% orderItems.forEach(function(item, index) { %>
					if (menuKey !== "<%= item.menuName %>")
					{
						menuKey = "<%= item.menuName %>";
						this.menus[menuKey] = [];							
					}
					this.menus[menuKey].push("<%= item.itemName %>");
				<% }); %>
			});
		</script>
	</head>
	<body ng-controller="OrderItemsController as orderItems">
		<h1> Order Items for Order: </h1>
		<ul ng-repeat="(menuName, items) in orderItems.menus"> 
			<h5> {{ menuName }} </h5>
			<li ng-repeat="item in items"> {{ item }} </li>
		</ul>
	</body>

	<script>
	</script>

</html>